.modal {
  padding: 1rem;
  margin: 8rem 0 0 0;
  background: white;
  z-index: 2;
  max-height: 80vh;
  overflow: scroll;
}

.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.45);
  z-index: 1;
  top: 0;
  left: 0;
}

.inactive {
  .modal-overlay, .modal {
    display: none;
  }
}

.active {
  .modal-overlay, .modal {
    display: block;
  }
}
