@import 'flexbox';
@import 'config/colours';

.meal-button {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: $white;
}

.meal-button-label {
  @include flexbox();
  @include align-items(center);

  border: 1px solid $grey;
  border-top: 0;
  height: 100px;

  span {
    @include flex-grow(1);
    text-align: center;
    margin-top: -1px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .icon-delete {
    color: $grey;
    position: absolute;
    bottom: 0;
    right: 0;
    &:hover {
      color: $red;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.meal-button-bar {
  height: 20px;
  width: 100%;
  background: $blue;

  &.other {
    background: $blue;
  }
  &.poultry {
    background: $orange;
  }
  &.seafood {
    background: $cream;
  }
  &.meat {
    background: $red;
  }
  &.pasta {
    background: $yellow;
  }
  &.vegetarian {
    background: $green;
  }
}
