@import 'flexbox';
@import 'config/colours';

.meal-row {
  background: $white;
  padding: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1px;

  &:hover {
    cursor: pointer;
  }

  i {
    color: $grey;
    max-width: 16px;
  }

  .icon-delete {
    color: $grey;
    &:hover {
      color: $red;
    }
  }

  .icon-arrow {
    transition: transform 0.25s;
  }

  .icon-arrow.open {
    transform: rotate(180deg);
  }

  &.closed .accordian {
    display: none;
  }
}

.meal-row-header {
  @include flexbox();
  @include justify-content(space-between);
  @include align-items(center);
}

.meal-row-ingredients {
  margin: 0;
}
