@import 'flexbox';
@import 'config/spacing';

.meal-picker {
  padding: $padding-regular;
  width: 528px;
  min-width: 528px;
}

.add-button {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
}
