@import 'flexbox';
@import 'config/colours';

.meal-form {
  @include flexbox();
  @include justify-content(center);
  position: fixed;
  width: 100%;
  top: 0;

  input[type=radio] {
    display: none;
  }

  .radio-label {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 16px;
    transition: box-shadow 0.1s;
    &:hover {
      cursor: pointer;
      border: 2px solid white;

      &[for='other'] {
        box-shadow: 0px 0px 0px 2px $blue;
      }

      &[for='poultry'] {
        box-shadow: 0px 0px 0px 2px $orange;
      }

      &[for='seafood'] {
        box-shadow: 0px 0px 0px 2px $cream;
      }

      &[for='meat'] {
        box-shadow: 0px 0px 0px 2px $red;
      }

      &[for='pasta'] {
        box-shadow: 0px 0px 0px 2px $yellow;
      }

      &[for='vegetarian'] {
        box-shadow: 0px 0px 0px 2px $green;
      }
    }
  }

  .radio-label.selected {
    border: 2px solid white;

    &[for='other'] {
      box-shadow: 0px 0px 0px 2px $blue;
    }

    &[for='poultry'] {
      box-shadow: 0px 0px 0px 2px $orange;
    }

    &[for='seafood'] {
      box-shadow: 0px 0px 0px 2px $cream;
    }

    &[for='meat'] {
      box-shadow: 0px 0px 0px 2px $red;
    }

    &[for='pasta'] {
      box-shadow: 0px 0px 0px 2px $yellow;
    }

    &[for='vegetarian'] {
      box-shadow: 0px 0px 0px 2px $green;
    }
  }

  .radio-label[for='other'] {
    background: $blue;
  }

  .radio-label[for='poultry'] {
    background: $orange;
  }

  .radio-label[for='seafood'] {
    background: $cream;
  }

  .radio-label[for='meat'] {
    background: $red;
  }

  .radio-label[for='pasta'] {
    background: $yellow;
  }

  .radio-label[for='vegetarian'] {
    background: $green;
  }
}

